.game {
  margin-top: 20px;
}

.map {
  display: inline-block;
  border: 1px solid grey;
}

.row {
  display: flex;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  font-weight: 400;
}

.layer {
  position: absolute;
  z-index: 100;
  width: 25px;
  height: 25px;
}

.mine {
  width: 25px;
  height: 25px;
}

.pressed {
  transform: rotate(180deg);
}

.transparent {
  opacity: 0;
}

.box-color-1 {
  color: lightskyblue;
}
.box-color-2 {
  color: green;
}
.box-color-3 {
  color: red;
}
.box-color-4 {
  color: orange;
}
.box-color-5 {
  color: brown;
}
.box-color-6 {
  color: teal;
}
.box-color-7 {
  color: black;
}
.box-color-8 {
  color: purple;
}
