html,
body {
  background-color: #202c33;
}

.instruction,
.game-info {
  display: flex;
  flex-direction: column;
  color: #91979a;
}

.game {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.map {
  display: inline-block;
}

.row {
  display: flex;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 1px;
  font-weight: 400;
  background-color: #363636;
  border-radius: 3px;
}

.layer {
  position: absolute;
  z-index: 100;
  width: 25px;
  height: 25px;
}

.mine {
  width: 25px;
  height: 25px;
}

.pressed {
  transform: rotate(180deg);
}

.transparent {
  opacity: 0;
}

.box-text-color-1 {
  color: lightskyblue;
}
.box-text-color-2 {
  color: green;
}
.box-text-color-3 {
  color: red;
}
.box-text-color-4 {
  color: orange;
}
.box-text-color-5 {
  color: brown;
}
.box-text-color-6 {
  color: teal;
}
.box-text-color-7 {
  color: black;
}
.box-text-color-8 {
  color: purple;
}

.flags-count {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: 1px solid grey;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group > .btn,
.btn-group > span {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-group .btn {
  border: 2px solid #0095ff;
  color: #0095ff;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 15px;
  transition: all linear 200ms;
}

@media screen and (min-width: 769px) {
  .hide-on-mobile {
    display: none;
  }
}
