html,
body {
  background-color: #202c33;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.instruction {
  color: #91979a;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.instruction-piece {
  margin-right: 10px;
}

.instruction-piece .label {
  text-transform: uppercase;
}

.instruction-piece .action {
  padding: 2px 8px;
  background-color: #91979a;
  color: #202c33;
  border-radius: 3px;
}

.game {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.map {
  display: inline-block;
}

.row {
  display: flex;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 1px;
  font-weight: 400;
  background-color: #363636;
  border-radius: 2px;
  font-size: 12px;
}

.layer {
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border-radius: 2px;
}

.flag {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

.mine {
  width: 30px;
  height: 30px;
}

.pressed {
  transform: rotate(180deg);
}

.transparent {
  display: none;
}

.box-text-color-1 {
  color: lightskyblue;
}
.box-text-color-2 {
  color: green;
}
.box-text-color-3 {
  color: red;
}
.box-text-color-4 {
  color: orange;
}
.box-text-color-5 {
  color: brown;
}
.box-text-color-6 {
  color: teal;
}
.box-text-color-7 {
  color: black;
}
.box-text-color-8 {
  color: purple;
}

.flags-count {
  display: inline-block;
  height: 33px;
  width: 33px;
  border-radius: 3px;
  border: 2px solid grey;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
  color: red;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group > .btn,
.btn-group > span {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-group .btn {
  border: 2px solid #0095ff;
  color: #0095ff;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 15px;
  transition: all linear 200ms;
}

.btn-group > .btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .hide-on-mobile {
    display: none;
  }
}
